@import "./nullstyle.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: Montserrat;
  &._lock {
    overflow: hidden;
  }
}

.menu__icon {
  display: none;
  z-index: 6;
  position: absolute;
  right: 250px;
  top: calc(50% - 12px);
  //transform: translate(-30px, 50px);
  width: 30px;
  height: 24px;
  cursor: pointer;
  span,
  &::before,
  &::after {
    left: 0;
    position: absolute;
    height: 15%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #eaa124;
  }
  &::before,
  &::after {
    content: "";
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: 35%;
    transform: scale(1) translate(0, 50%);
  }
  &._active {
    span {
      transform: scale(0) translate(0, 50%);
    }
    &::before {
      top: 50%;
      transform: rotate(-45deg) translate(0, -50%);
    }
    &::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0, 50%);
    }
  }
}

.burger__menu {
  position: absolute;
  width: calc(100% + 20px);
  top: 100%;
  left: -10px;
  background-color: #fff;

  padding: 10px 10px 15px;
  li {
    margin: 0 0 15px;
    &:last-child {
      margin: 0;
    }
    a {
      font-size: 18px;
      line-height: 17px;
      color: #000000;
      transition-duration: 300ms;
      text-transform: capitalize;
      &:hover {
        color: #eaa124;
      }
    }
  }
  transition-duration: 300ms;
  transform: translateY(-50%) scaleY(0);
  &._active {
    transform: translateY(0) scaleY(1);
  }
}

.burger__navigation {
}

.burger__navigation__list {
}

.burger__registration {
  display: none;
  align-items: center;
  position: relative;
  &:before {
    content: "";
    padding: 20px;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../img/user.svg") 50% 50% / 60% no-repeat, #fff;
  }
  li {
    padding: 0 10px;
    &:last-child {
      border-left: 1px solid #000;
    }
  }
  a {
    transition-duration: 300ms;
    text-transform: capitalize;
    &:hover {
      color: #eaa124;
    }
  }
}

.header {
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  position: relative;
}

.header__item {
}

.header__logo {
}

.header__menu {
  flex-grow: 1;
  padding: 0 50px 0 10px;
}

.header__navigation {
}

.header__navigation__list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  li {
    a {
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      transition-duration: 300ms;
      text-transform: capitalize;
      &:hover {
        color: #eaa124;
      }
    }
    margin: 0 0 0 30px;
    &:first-child {
      margin: 0;
    }
  }
}

.header__option {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.header__option__item {
  &:first-child {
    border-right: 1px solid #dbdbdb;
  }
}

.select_lang {
  position: relative;
  margin: 0 20px 0 0;
  z-index: 2;
  .lang_arrow._active {
    transform: rotateX(180deg);
  }
  a {
    transition-duration: 300ms;
    text-transform: uppercase;
    &:hover {
      color: #eaa124;
    }
  }
  & > li {
    span {
      width: 0;
      height: 0;
      border-top: 7px solid #eaa124;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      position: absolute;
      top: calc(50% - 3.5px);
      margin-left: -5px;
    }
  }
}

.lang_link {
  margin: 0 20px 0 0;
}

.lang_arrow {
}

.lang_sub {
  position: absolute;
  left: -3px;
  top: 15px;
  background-color: #fff;
  padding: 3px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 300ms;
  z-index: 0;
  transform: translateY(-50%) scaleY(0);
  li {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &._open {
    transform: translateY(0) scaleY(1);
  }
}

.header__registration {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  position: relative;
  &:before {
    content: "";
    padding: 20px;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../img/user.svg") 50% 50% / 60% no-repeat, #fff;
  }
  li {
    padding: 0 10px;
    &:last-child {
      border-left: 1px solid #000;
    }
  }
  a {
    transition-duration: 300ms;
    text-transform: capitalize;
    &:hover {
      color: #eaa124;
    }
  }
}
.menu__icon {
  display: none;
}

.first_screen {
  padding: 165px 0 200px;
  background: url("../img/main-img.jpg") 50% 50% / cover no-repeat;
}

.first_screen__title {
  margin: 0 0 9px;
  max-width: 550px;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  color: #ffffff;
}

.first_screen__text {
  margin: 0 0 30px;
  max-width: 550px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.first_screen__button {
  display: inline-block;
  width: 200px;
  height: 55px;
  background: #eaa124;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transition-duration: 300ms;
  &:hover {
    background: rgba(#282828, 0.2);
    box-shadow: 0 0 5px #eaa124;
  }
}

.what_we_do {
  padding: 96px 0 214px;
}

.pre_title {
  margin: 0 0 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #eaa124;
}

.title {
  margin: 0 0 10px;
  max-width: 660px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  color: #272727;
}

.what_we_do__title {
}

.what_we_do__subtext {
  display: block;
  max-width: 660px;
  margin: 0 auto 60px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}

.what_we_do__row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.what_we_do__item {
  flex: 0 1 25%;
  padding: 35px 27px 60px;
  //max-width: 280px;
  &:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }
  img {
    margin-bottom: 25px;
  }
}

.what_we_do__item_title {
  margin: 0 0 16px;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #272727;
}

.what_we_do__item_text {
  font-size: 13px;
  line-height: 16px;
  color: #333333;
}

.our_task {
  padding: 85px 0 162px;
  position: relative;
  background: #fafafa;
  .container {
    position: relative;
  }
  .title {
    max-width: 420px;
    margin: 0 0 20px;
    text-align: left;
  }
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 270px;
    width: 210px;
    top: -100px;
    right: 0;
    z-index: 0;
    background: url("../img/yellow-elips.svg") 0 0 / contain no-repeat;
  }
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 120px;
    width: 120px;
    bottom: calc(50% - 70px);
    right: calc(50% - 170px);
    z-index: 2;
    background: url("../img/smal-square-1.svg") 0 0 / contain no-repeat;
  }
}

.our_task__row {
  display: flex;
  justify-content: space-between;
  .our_task__item {
    position: relative;
    flex: 0 1 48%;
  }
}

.our_task__pre_title {
  margin: 0 0 10px;
  text-align: left;
}

.pre_title {
}

.our_task__text {
  margin: 0 0 33px;
  max-width: 500px;
  font-size: 13px;
  line-height: 16px;
  color: #333333;
}

.our_task__button {
  display: block;
  width: 212px;
  height: 50px;
  background: #eaa124;
  border-radius: 100px;
  font-weight: bold;
  font-size: 13px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  transition-duration: 300ms;
  &:hover {
    background: #fafafa;
    color: #eaa124;
    box-shadow: 0 0 5px #eaa124;
  }
}

.our_task_img {
  position: absolute;
  z-index: 1;
}

.our_task_img_1 {
  max-width: 200px;
  top: -120px;
  right: calc(50% - 30px);
}

.our_task_img_2 {
  max-width: 240px;
  right: 0;
  top: -35px;
}

.our_task_img_3 {
  max-width: 200px;
  bottom: -35px;
  right: calc(50% - 100px);
}

.our_task_1,
.our_task_2 {
  //padding: 0 0 126px;
  background: #fafafa;
  position: relative;
  .title {
    max-width: 420px;
    margin: 0 0 20px;
    text-align: left;
  }
  .our_task__text {
    margin: 0;
  }
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 270px;
    width: 210px;
    bottom: -100px;
    left: 0;
    z-index: 0;
    background: url("../img/green-elips.svg") 0 0 / contain no-repeat;
  }
}

.our_task_2 {
  background-color: #fff;
  padding: 150px 0 0;
  .title {
    max-width: 520px;
    margin: 0 0 20px;
    text-align: left;
  }
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 270px;
    width: 210px;
    bottom: -150px;
    left: calc(50% - 80px);
    z-index: 0;
    background: url("../img/smal-square-1.svg") 0 0 / contain no-repeat;
  }
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 270px;
    width: 210px;
    top: 50px;
    right: 0;
    z-index: 0;
    background: url("../img/yellow-elips.svg") 0 0 / contain no-repeat;
  }
}

.our_task_1__row,
.our_task_2__row {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.our_task_2__row {
  flex-direction: row-reverse;
}

.our_task_1__item,
.our_task_2__item {
  flex: 0 1 45%;
}

.our_task_1__img,
.our_task_2__img {
  width: 100%;
}

.our_task__pre_title {
}

.pre_title {
}

.title {
}

.our_task__text {
}

.futures {
  background: #fafafa;
  margin: -230px 0 182px;
  .container {
    max-width: 1140px;
    transform: translateY(65%);
  }
}

.futures__row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.futures__row_1 {
}

.futures__item {
  flex: 0 1 24%;
  position: relative;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 30px 22px 27px;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  &:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  }
  a {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
    &:after {
      content: "";
      display: inline-block;
      margin: 0 0 0 10px;
      height: 8px;
      width: 50px;
      bottom: calc(50% - 2px);
      left: 0;
      z-index: 0;
      background: url("../img/seemore.svg") 0 0 / contain no-repeat;
    }
    &:hover {
      color: #eaa124;
      &:after {
        background: url("../img/seemore-hover.svg") 0 0 / contain no-repeat;
      }
    }
  }
}

.futures__item__title {
  margin: 0 0 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #eaa124;
}

.futures__item__text {
  margin: 0 0 15px;
  font-size: 13px;
  line-height: 17px;
  color: #333333;
}

.futures__row_2 {
  position: relative;
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 120px;
    width: 120px;
    bottom: -50px;
    right: calc(25% - 60px);
    z-index: 0;
    background: url("../img/smal-square-1.svg") 0 0 / contain no-repeat;
  }
  margin: 0 0 65px;
}

.futures__button {
  display: block;
  margin: 0 auto;
  max-width: 212px;
  height: 50px;
  background: #eaa124;
  border-radius: 100px;
  font-weight: bold;
  font-size: 13px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transition-duration: 300ms;
  &:hover {
    background: #fafafa;
    color: #eaa124;
    box-shadow: 0 0 5px #eaa124;
  }
}

.contact_us {
  margin: 450px 0 0;
  padding: 113px 0;
  background: url("../img/our-task-2.jpg") 50% 50% / cover no-repeat;
}

.container {
}

.contact_us__pre_title {
}

.pre_title {
}

.contact_us__title {
  max-width: 420px;
  margin: 0 auto 20px;
  font-weight: 900;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
}

.contact_us__text {
  margin: 0 auto 30px;
  max-width: 520px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.contact_us__button {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border: 2px solid #f0b746;
  box-sizing: border-box;
  border-radius: 100px;
  line-height: 48px;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #f0b746;
  transition-duration: 300ms;
  &:hover {
    background-color: #f0b746;
    color: #fff;
  }
}

.our_mission {
  padding: 80px 0 0px;
  .container {
    max-width: 1180px;
    padding: 0 0 120px;
    border-bottom: 2px solid #fafafa;
  }
  .title {
    text-align: left;
    margin: 0 0 20px;
  }
}

.our_mission__row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our_mission__item {
  flex: 0 1 45%;
  margin: 0 30px;
}

.our_mission__main_image {
  width: 100%;
}

.our_mission__pre_title {
  text-align: left;
}

.pre_title {
}

.title {
}

.our_mission__text {
  margin: 0 0 35px;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.our_mission__spollers {
}

.our_mission__spoller_item {
  position: relative;
  margin: 0 0 20px;
  padding: 0 20px 18px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  height: auto;
  &._active {
    padding: 0 20px 18px;
  }
}

.spoller__text  {
overflow: hidden;
  display: none;
  padding: 20px 0 0;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.spoller__title  {
  padding: 18px 50px;
  width: 100%;
  text-align: left;
  background-color: #fff;
  border-bottom: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #eaa124;
  position: relative;
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 40px;
    top: calc(50% - 20px);
    left: 0;
    z-index: 0;
    background: url("../img/talking-people-1.svg") 0 0 / contain no-repeat;
  }
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 7px;
    width: 12px;
    top: calc(50% - 3px);
    right: 0;
    z-index: 0;
    background: url("../img/spoller-arrow.svg") 0 0 / contain no-repeat;
  }
  &.active__item {
    border-bottom: 1px solid #eee;
    &:after {
      transform: rotateX(180deg);
    }
  }
}

.active__item {
  .spoller__title  {
    &:after {
      transform: rotateX(180deg);
    }
  }
}


.blog {
  padding: 83px 0 46px;
  margin: 200px 0 0;
  background: #fafafa;
}

.pre_title {
}

.title {
}

.blog__title {
  display: block;
  max-width: 450px;

  margin: 0 auto 8px;
  text-align: center;
}

.blog__subtext {
  display: block;
  max-width: 450px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 0 auto 80px;
  color: #333333;
}

.blog__navigation {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-bottom: 2px solid #eeeeee;

  li {
    margin-right: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    a {
      transition-duration: 300ms;
    }

    &:nth-child(1) {
      a {
        color: #eaa124;
        position: relative;

        &:before {
          content: "";
          display: inline-block;
          position: absolute;
          height: 2px;
          width: 100%;
          bottom: -1.4px;
          left: 0;
          background-color: #eaa124;
        }
      }
    }
    &:hover {
      a {
        color: #eaa124;
      }
    }
  }
}

.blog__slider {
  position: relative;
  .slik-slide {
    height: 100%;
  }
  .slick-arrow {
    position: absolute;
    bottom: 0;
    font-size: 0;
    width: 6px;
    height: 10px;
  }
  /* Стрелка влево */
  .slick-arrow.slick-prev {
    background: url("../img/slider-arrow-back.svg") 50% 50% / contain no-repeat;
    left: calc(50% - 50px);
    &:hover {
      background: url("../img/slider-arrow-back-hover.svg") 50% 50% / contain
        no-repeat;
    }
  }
  /* Стрелка вправо */
  .slick-arrow.slick-next {
    background: url("../img/slider-arrow-next.svg") 50% 50% / contain no-repeat;
    left: calc(50% + 46px);
    &:hover {
      background: url("../img/slider-arrow-next-hover.svg") 50% 50% / contain
        no-repeat;
    }
  }
  .slick-list {
    margin: 0 -10px 45px;
    padding: 20px 0;
    overflow: hidden;
  }
  .slick-track {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding: 20px 0;
  }

  .slick-dots {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
  }
  .slick-dots li {
    margin: 0 5px;
  }
  .slick-dots li.slick-active {
    button {
      background: #eaa124;
    }
  }
  .slick-dots li button {
    font-size: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f5f8fc;
    border: 1px solid #eaa124;
  }
}

.blog__item {
  margin: 0 10px;
  border: 2px solid #eeeeee;
  border-radius: 3px;
  //transition-duration: 300ms;
  &:hover {
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);

    & a,
    a:last-child {
      color: #eaa124;
    }
    & a:last-child {
      &:after {
        background: url("../img/seemore-hover.svg") 0 0 / contain no-repeat;
      }
    }
  }
}

.blog_image {
  img {
    width: 100%;
  }
}

.blog__text {
  padding: 17px 10px 30px;
  p {
    margin: 0 0 18px;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
  }
  a {
    display: block;
  }
  a:last-child {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
    &:after {
      content: "";
      display: inline-block;
      margin: 0 0 0 10px;
      height: 10px;
      width: 50px;
      bottom: calc(50% - 5px);
      left: 0;
      z-index: 0;
      background: url("../img/seemore.svg") 0 0 / contain no-repeat;
    }
  }
}

.blog__item_title {
  margin: 0 0 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #272727;
}

.footer {
  padding: 40px 0;
  background-color: #272727;
  color: #888888;
}

.footer__row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.footer__item {
}

.footer__item_1 {
}

.footer__logo {
  display: inline-block;
  margin: 0 0 17px;
}

.footer__info {
  max-width: 320px;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 25px;
}

.footer__social_item {
  margin: 0 12px 0 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  transition-duration: 300ms;
}

.facebook {
  background: url("../img/facebook.svg") 0 0 / contain no-repeat;
  &:hover {
    background: url("../img/facebook-hover.svg") 0 0 / contain no-repeat;
  }
}

.instagram {
  background: url("../img/instagram.svg") 0 0 / contain no-repeat;
  &:hover {
    background: url("../img/instagram-hover.svg") 0 0 / contain no-repeat;
  }
}

.likedin {
  background: url("../img/likedin.svg") 0 0 / contain no-repeat;
  &:hover {
    background: url("../img/likedin-hover.svg") 0 0 / contain no-repeat;
  }
}

.footer__item_2 {
}

.footer__title {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #ffffff;
}

.footer__column {
  padding: 0 0 0 20px;
  li {
    margin: 0 0 5px;
    position: relative;
    font-size: 12px;
    line-height: 15px;
    color: #888888;
    &:nth-child(1) {
      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        height: 12px;
        width: 12px;
        top: calc(50% - 6px);
        left: -18px;
        z-index: 0;
        background: url("../img/phone.svg") 0 0 / contain no-repeat;
      }
    }
    &:nth-child(2) {
      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        height: 12px;
        width: 12px;
        top: calc(50% - 6px);
        left: -18px;
        z-index: 0;
        background: url("../img/clock.svg") 0 0 / contain no-repeat;
      }
    }
    &:nth-child(3) {
      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        height: 12px;
        width: 12px;
        top: calc(4px);
        left: -16px;
        z-index: 0;
        background: url("../img/location.svg") 0 0 / contain no-repeat;
      }
    }
    &:nth-child(4) {
      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        height: 12px;
        width: 12px;
        top: calc(50% - 6px);
        left: -18px;
        z-index: 0;
        background: url("../img/mail.svg") 0 0 / contain no-repeat;
      }
    }
  }
}

.footer__item_3 {
}

.footer__form_text {
  margin: 0 0 10px;
  max-width: 240px;
  font-size: 12px;
  line-height: 15px;
  color: #888888;
}

.footer__form {
  max-width: 240px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  input {
    margin: 0 0 10px;
    display: block;
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #888888;
    box-sizing: border-box;
    border-radius: 3px;
    background: #272727;
    color: #bbbbbb;
  }
}

.footer__form_name {
}

.footer__form_phone {
}

.footer__form_email {
}

.footer__submit {
  width: 80px;
  height: 30px;
  background: #eaa124;
  border-radius: 3px;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  transition-duration: 300ms;
  &:hover {
    background: #272727;
    box-shadow: 0 0 5px #eaa124;
  }
}

@media (max-width: 1050px) {
  .header__menu {
    padding: 0 20px 0 10px;
  }

  .header__navigation__list {
    li {
      margin: 0 0 0 15px;
    }
  }
}

@media (max-width: 930px) {
  .header__registration li {
    padding: 0 5px;
  }
  .header__registration::before {
    padding: 0;
  }
  .what_we_do__row {
    flex-wrap: wrap;
  }

  .what_we_do__item {
    flex: 0 1 50%;
  }

  .what_we_do {
    padding: 96px 0 125px;
  }
  .futures {
    margin: -430px 0 182px;
    padding-bottom: 200px;
  }

  .futures__row {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .futures__row_2::before {
    right: calc(50% - 60px);
  }

  .futures__item {
    flex: 0 1 46%;
  }

  .our_mission .container {
    padding: 0 0 60px;
  }
  .our_task_2 {
    background-color: #fff;
    padding: 60px 0 0;
  }
  .blog {
    padding: 63px 0 46px;
    margin: 110px 0 0;
  }
}

@media (max-width: 900px) {
  .header__menu {
    display: none;
  }
  .menu__icon {
    display: block;
  }

  .our_task .container {
    z-index: 1;
  }

  .our_task::before {
    z-index: 0;
  }

  .our_task__row .our_task__item {
    flex: 0 1 100%;
  }

  .our_task__text {
    max-width: none;
  }

  .our_task .title {
    max-width: none;
  }

  .our_task__images {
    display: none;
    width: 0;
  }

  .our_mission__row {
    flex-direction: column;
  }
  .our_mission__item {
    &:first-child {
      margin: 0 30px 20px;
    }
  }
  .our_mission__main_image {
    width: 0;
  }
}

@media (max-width: 700px) {
  .our_task {
    padding: 85px 0 100px;
  }
  .our_task__row {
    flex-direction: column;
    .our_task__item {
      flex: 0 1 78%;
      margin: 0 0 30px;
      &:last-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
      }
      img {
        width: 100%;
        position: relative;
        flex-grow: 0;
        top: auto;
        right: auto;
        bottom: auto;
        height: min-content;
      }
    }
  }
  .our_task_1__row,
  .our_task_2__row {
    flex-direction: column-reverse;
  }

  .our_task_1__item,
  .our_task_2__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 85%;
    flex: 0 1 85%;
    margin: 0 0 20px;
    .title {
      max-width: none;
    }
    .our_task__text {
      max-width: none;
    }
  }
  .futures {
    margin: -500px 0 182px;
  }
  .footer__row {
    flex-wrap: wrap;
  }
  .footer__item {
    margin: 0 0 20px;
  }
}

@media (max-width: 600px) {
  .futures {
    padding-bottom: 220px;
  }
  .futures__row {
    justify-content: center;
  }
  .futures__item {
    flex: 0 1 42%;
    padding: 20px 5px 17px;
  }

  .our__mission {
  }
  .first_screen {
    padding: 65px 0 100px;
  }
}

@media (max-width: 500px) {
  .header__option__item {
    &:first-child {
      border-right: none;
    }
  }
  .select_lang {
    right: 50%;
  }
  .header__registration {
    display: none;
  }
  .burger__registration {
    display: block;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    li {
      margin: 0;
    }
  }
  .menu__icon {
    right: 0;
  }
  .futures {
    margin: -800px 0 182px;
  }
  .futures__row {
    flex-direction: column;
  }
  .futures {
    padding-bottom: 520px;
  }
  .what_we_do__row {
    flex-direction: column;
  }

  .blog__navigation li {
    margin-right: 15px;
  }
  .footer__item_3 {
    width: 100%;
  }
  .footer__form {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 400px) {
  .futures {
    padding-bottom: 580px;
  }
  .our_task::before {
    right: 50%;
  }
  .blog__navigation li {
    margin-right: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .title {
    font-size: 25px;
    line-height: 33px;
  }
  .pre_title {
    font-size: 14px;
    line-height: 18px;
  }
}
